{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
	<div class="container py-3">

		<div class="card mb-3 my-3">
			<div class="card-header">
				Привет, я автор
			</div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      <p>
						Перейти к навигацииПерейти к поиску
						Яндекс.Практикум
						Изображение логотипа
						Тип	Дочернее предприятие
						Основание	2019
						Расположение	 Россия: Москва
						Ключевые фигуры	• Илья Залесский — руководитель образовательных сервисов «Яндекса»
						• Михаил Янович — директор продукта «Яндекс.Практикум»
						• Евгений Лебедев — директор по маркетингу «Яндекс.Практикума»
						• Петр Янович — руководитель языкового направления «Яндекс.Практикума»
						Отрасль	Образование
						Материнская компания	Яндекс
						Сайт	praktikum.yandex.ru
						Яндекс.Практикум — международный[1] сервис онлайн-образования,
						запущенный компанией Яндекс в 2019 году. Обучение проходит в собственной технологической среде
			      компании, что позволяет сразу применять полученные знания на практике[2][3]. Изначально сервис был
			      ориентирован на желающих получить профессиональные компетенции в IT-сфере[4], но впоследствии перечень
			      специализаций и навыков, которые можно освоить в Яндекс.Практикуме значительно расширился[5]. Например,
			      появились продвинутые учебные программы для тех, кто уже имеет опыт программирования[6].
		      </p>
		    </blockquote>
		  </div>
		</div>

	</div>
{% endblock %}